@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
html {
  max-width: 1024px;
  margin: auto;
}
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: white;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(224, 217, 217);
  z-index: 100;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}
.nav-links a:hover {
  color: red;
}

.nav-links {
  position: relative;
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Bree Serif", serif;
}

.nav-item {
  padding: 10px 20px;
}

.logo-container {
  margin-right: 150px;
}

.nav-logo {
  width: 200px;
  height: 50px;

  cursor: pointer;
}

.nav-item-signin {
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  white-space: nowrap;
  text-align: center;
  padding: 10px 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.nav-item-signin:hover {
  color: red;
  box-shadow: inset 0 0 0 2px red;
}

.nav-item-signup {
  background-color: red;
  padding: 12px 30px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px red;
  box-shadow: 0px 8px 15px rgba(202, 36, 36, 0.205);

  white-space: nowrap;
  text-align: center;
  padding: 10px 20px;
  color: white;
}
.nav-item-signup:hover {
  color: red;
  box-shadow: inset 0 0 0 2px red;
  background-color: white;
}

/* Set a style for all buttons */
/* button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
} */

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .deletebtn {
    width: 100%;
  }
}
