.main-div
{
    width: 100%;
    background-color: white;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.sub-div1
{
    width: 30%;
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}

.line-break
{
    width: 3px;
    height: 80%;
    background-color: black;
    position: relative;
    top: 50px;
    opacity: 50%;
}

.sub-div1 img
{
   border-radius: 100%;
   background-position: 50% 50%;
   background-size: cover;
   border: 1px solid black;
   width: 200px;
   height: 200px;

}

.sub-div1 h4
{
    margin-bottom: 0%;
}

.sub-div1 p
{
    margin-top: 0%;
}

.user-div
{
    width: 200px;
    height: auto;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;


}

.user-div ul
{
    margin:0;
    padding: 0;
}

.select-div
{
    padding:10px 50px 10px 50px ;
    text-align: center;
    border:2px solid black;
    background-color: white;
    list-style: none;
}

#active
{
    background-color: #eeeeee;
}

.sub-div2
{
    width: 705px;
    background-color: white;
    height: 69.61%;
    position: absolute;
    right: 235px;
    top: 60px;
    text-align: center;

}

.sub-divContainer
{
    width:390px ;
    height:40% ;
    background-color: white;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.button-div button
{
    width: 160px;
    height: 40px;
    background-color: white;
    border: none;
    box-shadow: 0 3px 5px rgba(167, 167, 167, 0.471);
    margin-top: 20px;
    font-size: 15px;
    font-weight:bold ;
    cursor: pointer;
}

.button-div button:hover
{
    width: 160px;
    height: 40px;
    background-color:  rgb(238, 255, 0);
    color: rgb(19, 0, 128);
    border: none;
    box-shadow: 0 3px 5px rgba(167, 167, 167, 0.471);
    margin-top: 20px;
    font-size: 15px;
    font-weight:bold ;
}

