.st-container
{
    display: flex;
}
.settings-form
{
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 400px;
  padding: 20px;
}

.form-details
{
    margin-top: -400;
    margin-left: 300;
    font-size: 18;
}
