.profile
{
    vertical-align: middle;
    width: 100;
    height: 100;
    border-radius: 50%;
    margin-top: 120px;
    margin-left: -180px;
}
.about
{
    text-align: center;
    text-decoration: none;
    font-size: 8;
    margin-left: -1270px;
}
#p1
{
    font-size: 12;
}
.menu
{
    list-style-type: none;
    margin: 0;
    margin-left: -225px;
    margin-top: 50px;
    padding: 0;
    width: 200px;
    background-color: brown;
    border: 1px solid black;
}
li a
{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
li
{
    text-align: center;
    border-bottom: 1px solid black;
}
li:last-child
{
    border-bottom: none;
}
li a.active
{
    background-color: chocolate;
    color: black;
}
li a:hover:not(.active)
{
    background-color: coral;
    color: black;
}
.vl
{
    border-left: 2px solid black;
    height: 500px;
    position: fixed;
    left: 50%;
    margin-left: -500px;
    top: 120;
}
.details
{
    margin-top: -400;
    margin-left: 300;
    font-size: 18;
}
